In [1]:
import pandas #ipython notebook
titanic = pandas.read_csv("titanic_train.csv")
titanic.head(3)
print titanic.describe()

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000         NaN    0.000000
50%     446.000000    0.000000    3.000000         NaN    0.000000
75%     668.500000    1.000000    3.000000         NaN    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

/Users/wakemeup/anaconda/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

In [2]:
titanic["Age"] = titanic["Age"].fillna(titanic["Age"].mean())
print titanic.describe()

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   13.002015    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   22.000000    0.000000
50%     446.000000    0.000000    3.000000   29.699118    0.000000
75%     668.500000    1.000000    3.000000   35.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [3]:
print titanic["Sex"].unique()

# Replace all the occurences of male with the number 0.
titanic.loc[titanic["Sex"] == "male", "Sex"] = 0
titanic.loc[titanic["Sex"] == "female", "Sex"] = 1

['male' 'female']

In [4]:
print titanic["Embarked"].unique()
titanic["Embarked"] = titanic["Embarked"].fillna('S')
titanic.loc[titanic["Embarked"] == "S", "Embarked"] = 0
titanic.loc[titanic["Embarked"] == "C", "Embarked"] = 1
titanic.loc[titanic["Embarked"] == "Q", "Embarked"] = 2

['S' 'C' 'Q' nan]

In [5]:
# Import the linear regression class
from sklearn.linear_model import LinearRegression
# Sklearn also has a helper that makes it easy to do cross validation
from sklearn.cross_validation import KFold

# The columns we'll use to predict the target
predictors = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]

# Initialize our algorithm class
alg = LinearRegression()
# Generate cross validation folds for the titanic dataset.  It return the row indices corresponding to train and test.
# We set random_state to ensure we get the same splits every time we run this.
kf = KFold(titanic.shape[0], n_folds=3, random_state=1)

predictions = []
for train, test in kf:
    # The predictors we're using the train the algorithm.  Note how we only take the rows in the train folds.
    train_predictors = (titanic[predictors].iloc[train,:])
    print type(train_predictors)
    print train_predictors
    print train_predictors.shape
    # The target we're using to train the algorithm.
    train_target = titanic["Survived"].iloc[train]
    # Training the algorithm using the predictors and target.
    alg.fit(train_predictors, train_target)
    # We can now make predictions on the test fold
    test_predictions = alg.predict(titanic[predictors].iloc[test,:])
    predictions.append(test_predictions)

<class 'pandas.core.frame.DataFrame'>
     Pclass Sex        Age  SibSp  Parch      Fare Embarked
297       1   1   2.000000      1      2  151.5500        0
298       1   0  29.699118      0      0   30.5000        0
299       1   1  50.000000      0      1  247.5208        1
300       3   1  29.699118      0      0    7.7500        2
301       3   0  29.699118      2      0   23.2500        2
302       3   0  19.000000      0      0    0.0000        0
303       2   1  29.699118      0      0   12.3500        2
304       3   0  29.699118      0      0    8.0500        0
305       1   0   0.920000      1      2  151.5500        0
306       1   1  29.699118      0      0  110.8833        1
307       1   1  17.000000      1      0  108.9000        1
308       2   0  30.000000      1      0   24.0000        1
309       1   1  30.000000      0      0   56.9292        1
310       1   1  24.000000      0      0   83.1583        1
311       1   1  18.000000      2      2  262.3750        1
312       2   1  26.000000      1      1   26.0000        0
313       3   0  28.000000      0      0    7.8958        0
314       2   0  43.000000      1      1   26.2500        0
315       3   1  26.000000      0      0    7.8542        0
316       2   1  24.000000      1      0   26.0000        0
317       2   0  54.000000      0      0   14.0000        0
318       1   1  31.000000      0      2  164.8667        0
319       1   1  40.000000      1      1  134.5000        1
320       3   0  22.000000      0      0    7.2500        0
321       3   0  27.000000      0      0    7.8958        0
322       2   1  30.000000      0      0   12.3500        2
323       2   1  22.000000      1      1   29.0000        0
324       3   0  29.699118      8      2   69.5500        0
325       1   1  36.000000      0      0  135.6333        1
326       3   0  61.000000      0      0    6.2375        0
..      ...  ..        ...    ...    ...       ...      ...
861       2   0  21.000000      1      0   11.5000        0
862       1   1  48.000000      0      0   25.9292        0
863       3   1  29.699118      8      2   69.5500        0
864       2   0  24.000000      0      0   13.0000        0
865       2   1  42.000000      0      0   13.0000        0
866       2   1  27.000000      1      0   13.8583        1
867       1   0  31.000000      0      0   50.4958        0
868       3   0  29.699118      0      0    9.5000        0
869       3   0   4.000000      1      1   11.1333        0
870       3   0  26.000000      0      0    7.8958        0
871       1   1  47.000000      1      1   52.5542        0
872       1   0  33.000000      0      0    5.0000        0
873       3   0  47.000000      0      0    9.0000        0
874       2   1  28.000000      1      0   24.0000        1
875       3   1  15.000000      0      0    7.2250        1
876       3   0  20.000000      0      0    9.8458        0
877       3   0  19.000000      0      0    7.8958        0
878       3   0  29.699118      0      0    7.8958        0
879       1   1  56.000000      0      1   83.1583        1
880       2   1  25.000000      0      1   26.0000        0
881       3   0  33.000000      0      0    7.8958        0
882       3   1  22.000000      0      0   10.5167        0
883       2   0  28.000000      0      0   10.5000        0
884       3   0  25.000000      0      0    7.0500        0
885       3   1  39.000000      0      5   29.1250        2
886       2   0  27.000000      0      0   13.0000        0
887       1   1  19.000000      0      0   30.0000        0
888       3   1  29.699118      1      2   23.4500        0
889       1   0  26.000000      0      0   30.0000        1
890       3   0  32.000000      0      0    7.7500        2

[594 rows x 7 columns]
(594, 7)
<class 'pandas.core.frame.DataFrame'>
     Pclass Sex        Age  SibSp  Parch      Fare Embarked
0         3   0  22.000000      1      0    7.2500        0
1         1   1  38.000000      1      0   71.2833        1
2         3   1  26.000000      0      0    7.9250        0
3         1   1  35.000000      1      0   53.1000        0
4         3   0  35.000000      0      0    8.0500        0
5         3   0  29.699118      0      0    8.4583        2
6         1   0  54.000000      0      0   51.8625        0
7         3   0   2.000000      3      1   21.0750        0
8         3   1  27.000000      0      2   11.1333        0
9         2   1  14.000000      1      0   30.0708        1
10        3   1   4.000000      1      1   16.7000        0
11        1   1  58.000000      0      0   26.5500        0
12        3   0  20.000000      0      0    8.0500        0
13        3   0  39.000000      1      5   31.2750        0
14        3   1  14.000000      0      0    7.8542        0
15        2   1  55.000000      0      0   16.0000        0
16        3   0   2.000000      4      1   29.1250        2
17        2   0  29.699118      0      0   13.0000        0
18        3   1  31.000000      1      0   18.0000        0
19        3   1  29.699118      0      0    7.2250        1
20        2   0  35.000000      0      0   26.0000        0
21        2   0  34.000000      0      0   13.0000        0
22        3   1  15.000000      0      0    8.0292        2
23        1   0  28.000000      0      0   35.5000        0
24        3   1   8.000000      3      1   21.0750        0
25        3   1  38.000000      1      5   31.3875        0
26        3   0  29.699118      0      0    7.2250        1
27        1   0  19.000000      3      2  263.0000        0
28        3   1  29.699118      0      0    7.8792        2
29        3   0  29.699118      0      0    7.8958        0
..      ...  ..        ...    ...    ...       ...      ...
861       2   0  21.000000      1      0   11.5000        0
862       1   1  48.000000      0      0   25.9292        0
863       3   1  29.699118      8      2   69.5500        0
864       2   0  24.000000      0      0   13.0000        0
865       2   1  42.000000      0      0   13.0000        0
866       2   1  27.000000      1      0   13.8583        1
867       1   0  31.000000      0      0   50.4958        0
868       3   0  29.699118      0      0    9.5000        0
869       3   0   4.000000      1      1   11.1333        0
870       3   0  26.000000      0      0    7.8958        0
871       1   1  47.000000      1      1   52.5542        0
872       1   0  33.000000      0      0    5.0000        0
873       3   0  47.000000      0      0    9.0000        0
874       2   1  28.000000      1      0   24.0000        1
875       3   1  15.000000      0      0    7.2250        1
876       3   0  20.000000      0      0    9.8458        0
877       3   0  19.000000      0      0    7.8958        0
878       3   0  29.699118      0      0    7.8958        0
879       1   1  56.000000      0      1   83.1583        1
880       2   1  25.000000      0      1   26.0000        0
881       3   0  33.000000      0      0    7.8958        0
882       3   1  22.000000      0      0   10.5167        0
883       2   0  28.000000      0      0   10.5000        0
884       3   0  25.000000      0      0    7.0500        0
885       3   1  39.000000      0      5   29.1250        2
886       2   0  27.000000      0      0   13.0000        0
887       1   1  19.000000      0      0   30.0000        0
888       3   1  29.699118      1      2   23.4500        0
889       1   0  26.000000      0      0   30.0000        1
890       3   0  32.000000      0      0    7.7500        2

[594 rows x 7 columns]
(594, 7)
<class 'pandas.core.frame.DataFrame'>
     Pclass Sex        Age  SibSp  Parch      Fare Embarked
0         3   0  22.000000      1      0    7.2500        0
1         1   1  38.000000      1      0   71.2833        1
2         3   1  26.000000      0      0    7.9250        0
3         1   1  35.000000      1      0   53.1000        0
4         3   0  35.000000      0      0    8.0500        0
5         3   0  29.699118      0      0    8.4583        2
6         1   0  54.000000      0      0   51.8625        0
7         3   0   2.000000      3      1   21.0750        0
8         3   1  27.000000      0      2   11.1333        0
9         2   1  14.000000      1      0   30.0708        1
10        3   1   4.000000      1      1   16.7000        0
11        1   1  58.000000      0      0   26.5500        0
12        3   0  20.000000      0      0    8.0500        0
13        3   0  39.000000      1      5   31.2750        0
14        3   1  14.000000      0      0    7.8542        0
15        2   1  55.000000      0      0   16.0000        0
16        3   0   2.000000      4      1   29.1250        2
17        2   0  29.699118      0      0   13.0000        0
18        3   1  31.000000      1      0   18.0000        0
19        3   1  29.699118      0      0    7.2250        1
20        2   0  35.000000      0      0   26.0000        0
21        2   0  34.000000      0      0   13.0000        0
22        3   1  15.000000      0      0    8.0292        2
23        1   0  28.000000      0      0   35.5000        0
24        3   1   8.000000      3      1   21.0750        0
25        3   1  38.000000      1      5   31.3875        0
26        3   0  29.699118      0      0    7.2250        1
27        1   0  19.000000      3      2  263.0000        0
28        3   1  29.699118      0      0    7.8792        2
29        3   0  29.699118      0      0    7.8958        0
..      ...  ..        ...    ...    ...       ...      ...
564       3   1  29.699118      0      0    8.0500        0
565       3   0  24.000000      2      0   24.1500        0
566       3   0  19.000000      0      0    7.8958        0
567       3   1  29.000000      0      4   21.0750        0
568       3   0  29.699118      0      0    7.2292        1
569       3   0  32.000000      0      0    7.8542        0
570       2   0  62.000000      0      0   10.5000        0
571       1   1  53.000000      2      0   51.4792        0
572       1   0  36.000000      0      0   26.3875        0
573       3   1  29.699118      0      0    7.7500        2
574       3   0  16.000000      0      0    8.0500        0
575       3   0  19.000000      0      0   14.5000        0
576       2   1  34.000000      0      0   13.0000        0
577       1   1  39.000000      1      0   55.9000        0
578       3   1  29.699118      1      0   14.4583        1
579       3   0  32.000000      0      0    7.9250        0
580       2   1  25.000000      1      1   30.0000        0
581       1   1  39.000000      1      1  110.8833        1
582       2   0  54.000000      0      0   26.0000        0
583       1   0  36.000000      0      0   40.1250        1
584       3   0  29.699118      0      0    8.7125        1
585       1   1  18.000000      0      2   79.6500        0
586       2   0  47.000000      0      0   15.0000        0
587       1   0  60.000000      1      1   79.2000        1
588       3   0  22.000000      0      0    8.0500        0
589       3   0  29.699118      0      0    8.0500        0
590       3   0  35.000000      0      0    7.1250        0
591       1   1  52.000000      1      0   78.2667        1
592       3   0  47.000000      0      0    7.2500        0
593       3   1  29.699118      0      2    7.7500        2

[594 rows x 7 columns]
(594, 7)

In [6]:
import numpy as np

# The predictions are in three separate numpy arrays.  Concatenate them into one.  
# We concatenate them on axis 0, as they only have one axis.
predictions = np.concatenate(predictions, axis=0)

# Map predictions to outcomes (only possible outcomes are 1 and 0)
predictions[predictions > .5] = 1
predictions[predictions <=.5] = 0
accuracy = sum(predictions[predictions == titanic["Survived"]]) / len(predictions)
print accuracy

0.785634118967

/Users/wakemeup/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:10: FutureWarning: in the future, boolean array-likes will be handled as a boolean array index

In [7]:
from sklearn import cross_validation
from sklearn.linear_model import LogisticRegression
# Initialize our algorithm
alg = LogisticRegression(random_state=1)
# Compute the accuracy score for all the cross validation folds.  (much simpler than what we did before!)
scores = cross_validation.cross_val_score(alg, titanic[predictors], titanic["Survived"], cv=3)
# Take the mean of the scores (because we have one for each fold)
print(scores.mean())

0.79012345679

In [8]:
titanic_test = pandas.read_csv("test.csv")
titanic_test["Age"] = titanic_test["Age"].fillna(titanic["Age"].median())
titanic_test["Fare"] = titanic_test["Fare"].fillna(titanic_test["Fare"].median())
titanic_test.loc[titanic_test["Sex"] == "male", "Sex"] = 0 
titanic_test.loc[titanic_test["Sex"] == "female", "Sex"] = 1
titanic_test["Embarked"] = titanic_test["Embarked"].fillna("S")

titanic_test.loc[titanic_test["Embarked"] == "S", "Embarked"] = 0
titanic_test.loc[titanic_test["Embarked"] == "C", "Embarked"] = 1
titanic_test.loc[titanic_test["Embarked"] == "Q", "Embarked"] = 2

In [9]:
from sklearn import cross_validation
from sklearn.ensemble import RandomForestClassifier

predictors = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]

# Initialize our algorithm with the default paramters
# n_estimators is the number of trees we want to make
# min_samples_split is the minimum number of rows we need to make a split
# min_samples_leaf is the minimum number of samples we can have at the place where a tree branch ends (the bottom points of the tree)
alg = RandomForestClassifier(random_state=1, n_estimators=10, min_samples_split=2, min_samples_leaf=1)
# Compute the accuracy score for all the cross validation folds.  (much simpler than what we did before!)
kf = cross_validation.KFold(titanic.shape[0], n_folds=3, random_state=1)
scores = cross_validation.cross_val_score(alg, titanic[predictors], titanic["Survived"], cv=kf)

# Take the mean of the scores (because we have one for each fold)
print(scores.mean())

0.794612794613

In [10]:
alg = RandomForestClassifier(random_state=1, n_estimators=100, min_samples_split=4, min_samples_leaf=2)
# Compute the accuracy score for all the cross validation folds.  (much simpler than what we did before!)
kf = cross_validation.KFold(titanic.shape[0], 3, random_state=1)
scores = cross_validation.cross_val_score(alg, titanic[predictors], titanic["Survived"], cv=kf)

# Take the mean of the scores (because we have one for each fold)
print(scores.mean())

0.830527497194

In [11]:
# Generating a familysize column
titanic["FamilySize"] = titanic["SibSp"] + titanic["Parch"]

# The .apply method generates a new series
titanic["NameLength"] = titanic["Name"].apply(lambda x: len(x))

In [ ]:
import re

# A function to get the title from a name.
def get_title(name):
    # Use a regular expression to search for a title.  Titles always consist of capital and lowercase letters, and end with a period.
    title_search = re.search(' ([A-Za-z]+)\.', name)
    # If the title exists, extract and return it.
    if title_search:
        return title_search.group(1)
    return ""

# Get all the titles and print how often each one occurs.
titles = titanic["Name"].apply(get_title)
print(pandas.value_counts(titles))

# Map each title to an integer.  Some titles are very rare, and are compressed into the same codes as other titles.
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Dr": 5, "Rev": 6, "Major": 7, "Col": 7, "Mlle": 8, "Mme": 8, "Don": 9, "Lady": 10, "Countess": 10, "Jonkheer": 10, "Sir": 9, "Capt": 7, "Ms": 2}
for k,v in title_mapping.items():
    titles[titles == k] = v

# Verify that we converted everything.
print(pandas.value_counts(titles))

# Add in the title column.
titanic["Title"] = titles

Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Col           2
Major         2
Mlle          2
Countess      1
Ms            1
Lady          1
Jonkheer      1
Don           1
Mme           1
Capt          1
Sir           1
Name: Name, dtype: int64
1     517
2     183
3     125
4      40
5       7
6       6
7       5
10      3
8       3
9       2
Name: Name, dtype: int64

In [ ]:
import numpy as np
from sklearn.feature_selection import SelectKBest, f_classif
import matplotlib.pyplot as plt
predictors = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked", "FamilySize", "Title", "NameLength"]

# Perform feature selection
selector = SelectKBest(f_classif, k=5)
selector.fit(titanic[predictors], titanic["Survived"])

# Get the raw p-values for each feature, and transform from p-values into scores
scores = -np.log10(selector.pvalues_)

# Plot the scores.  See how "Pclass", "Sex", "Title", and "Fare" are the best?
plt.bar(range(len(predictors)), scores)
plt.xticks(range(len(predictors)), predictors, rotation='vertical')
plt.show()

# Pick only the four best features.
predictors = ["Pclass", "Sex", "Fare", "Title"]

alg = RandomForestClassifier(random_state=1, n_estimators=50, min_samples_split=8, min_samples_leaf=4)

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
import numpy as np

# The algorithms we want to ensemble.
# We're using the more linear predictors for the logistic regression, and everything with the gradient boosting classifier.
algorithms = [
    [GradientBoostingClassifier(random_state=1, n_estimators=25, max_depth=3), ["Pclass", "Sex", "Age", "Fare", "Embarked", "FamilySize", "Title",]],
    [LogisticRegression(random_state=1), ["Pclass", "Sex", "Fare", "FamilySize", "Title", "Age", "Embarked"]]
]

# Initialize the cross validation folds
kf = KFold(titanic.shape[0], n_folds=3, random_state=1)

predictions = []
for train, test in kf:
    train_target = titanic["Survived"].iloc[train]
    full_test_predictions = []
    # Make predictions for each algorithm on each fold
    for alg, predictors in algorithms:
        # Fit the algorithm on the training data.
        alg.fit(titanic[predictors].iloc[train,:], train_target)
        # Select and predict on the test fold.  
        # The .astype(float) is necessary to convert the dataframe to all floats and avoid an sklearn error.
        test_predictions = alg.predict_proba(titanic[predictors].iloc[test,:].astype(float))[:,1]
        full_test_predictions.append(test_predictions)
    # Use a simple ensembling scheme -- just average the predictions to get the final classification.
    test_predictions = (full_test_predictions[0] + full_test_predictions[1]) / 2
    # Any value over .5 is assumed to be a 1 prediction, and below .5 is a 0 prediction.
    test_predictions[test_predictions <= .5] = 0
    test_predictions[test_predictions > .5] = 1
    predictions.append(test_predictions)

# Put all the predictions together into one array.
predictions = np.concatenate(predictions, axis=0)

# Compute accuracy by comparing to the training data.
accuracy = sum(predictions[predictions == titanic["Survived"]]) / len(predictions)
print(accuracy)

In [ ]:
titles = titanic_test["Name"].apply(get_title)
# We're adding the Dona title to the mapping, because it's in the test set, but not the training set
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Dr": 5, "Rev": 6, "Major": 7, "Col": 7, "Mlle": 8, "Mme": 8, "Don": 9, "Lady": 10, "Countess": 10, "Jonkheer": 10, "Sir": 9, "Capt": 7, "Ms": 2, "Dona": 10}
for k,v in title_mapping.items():
    titles[titles == k] = v
titanic_test["Title"] = titles
# Check the counts of each unique title.
print(pandas.value_counts(titanic_test["Title"]))

# Now, we add the family size column.
titanic_test["FamilySize"] = titanic_test["SibSp"] + titanic_test["Parch"]

In [ ]:
predictors = ["Pclass", "Sex", "Age", "Fare", "Embarked", "FamilySize", "Title"]

algorithms = [
    [GradientBoostingClassifier(random_state=1, n_estimators=25, max_depth=3), predictors],
    [LogisticRegression(random_state=1), ["Pclass", "Sex", "Fare", "FamilySize", "Title", "Age", "Embarked"]]
]

full_predictions = []
for alg, predictors in algorithms:
    # Fit the algorithm using the full training data.
    alg.fit(titanic[predictors], titanic["Survived"])
    # Predict using the test dataset.  We have to convert all the columns to floats to avoid an error.
    predictions = alg.predict_proba(titanic_test[predictors].astype(float))[:,1]
    full_predictions.append(predictions)

# The gradient boosting classifier generates better predictions, so we weight it higher.
predictions = (full_predictions[0] * 3 + full_predictions[1]) / 4
print predictions